.hide {  
    opacity: 0;
}
.input {
    display: block;
    width: 40%;
    outline: none;
    margin-bottom: 22px; 
}
.label {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    transition: .4s all;
}


.demo1 .input {
    border: 0;
    border-bottom: 2px solid #ddd;
}
.demo1 .label {
    margin-top: -12px;
    color: #3498db;
}
.demo1 .hide {
    margin-top: -8px;
}

.demo2 .input {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 4px 6px;
}
.demo2 .label {
    margin-top: -15px;
    color: #3498db;
}
.demo2 .hide {
    margin-top: -9px;
}

.demo3 .input {
    border: 1px solid #aaa;
    padding: 4px 6px;
}
.demo3 .label {
    margin-top: -16px;
    background: #aaa;
    padding: 1px 6px;
    color: #fff;
}
.demo3 .hide {
    margin-top: -8px;
}
